<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<title>Eventex</title>
</head>

<body>
<div id="container">
	<div id="header">
    <img src="{{ STATIC_URL }}img/header.jpg"/>	
	</div>
	<div id="welcome">
	  <h1>Bem-Vindo ao Eventex!</h1>
  </div>
	<div id="news">
		<p>O evento mais sensacional do ano depois do Dev in Rio!</p>
		<p>Voc&ecirc; n&atilde;o pode perder esta oportunidade!</p>
		<p><strong>
    		    <a href="{% url subscriptions:subscribe %}">Inscreva-se Ja!</a>
		</strong></p>
		<p>Para d&uacute;vidas e mais informa&ccedil;&otilde;es entre em contato com <a href="mailto:eventex@eventex.com.br?subject=Contato%20-%20EventeX">eventex@eventex.com.br</a></p>
  </div>
	<div class="clear"></div>
</div>
	<div id="dj">
	</div>
	<div id="footer">
	copyright information 2006.All rights reserved.
	</div>	
</div>
</body>
</html>
